{% set series = content.field_message_series[0]['#title'] != 'Stand Alone Messages' %}
<article {{ attributes.addClass('main-message') }}>
  <div class="main-message__heading">{{ series ? 'Current Series' : 'Previous Message' }}</div>
  <div class="grid-x small-collapse medium-uncollapse">
    <div class="cell">
      <div class="main-message__wrap">
        <div class="main-message__image" style="background-image: url({{ series_graphic }})"></div>
        <div class="main-message__title-wrap">
          <h2 class="main-message__title">
            {% if series %}
            <small>{{ content.field_message_series }}</small>
            {% endif %}
            <a href="{{ url }}">{{ label }}</a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</article>